@import "common.scss";

// --- App

.app_wrapper {
	// TODO customize md-tabs look
	md-content {
		background-color: transparent !important;
		md-tabs {
			background: #f6f6f6;
			border: 1px solid #e1e1e1;
			md-tabs-canvas {
				background: white;
			}
		}
		h1:first-child {
			margin-top: 0;
		}
	}
}

.toolBar {
	height:$toolBarHeight;
}

.toolBar, .app_wrapper {
	background: $appBg;
}

#canvas {
	width:$appWidth;
	height:$appHeight;
}

.brush-active {
	background-color: $brushActiveColor;
}

// --- Sidenav

.left-panel{
	min-width:$leftPanelMinWidth !important;
}

#content-left-panel {
	padding:0;

	.itembank {

	}

	.item {
		max-width:100%;
		max-height:100%;
	}
}

// --- Canvas Panel

#paper {
	height:100%;
	width:100%;
	margin: 0 auto;
}

#content-middle-panel {
	padding:0;
}

// --- Properties panel

#content-right-panel {
	color: white;
	font-weight: bold;
}

.text-properties {
	padding: 0 $appPanelPadding;
}

.circle{
	width:$colorPickerSize;
	height:$colorPickerSize;
	border-radius:$colorPickerSize/2;
	display:inline-block;
	margin:0 4px;
}

// --- Media Queries

// Big Screens
@media screen and (max-width: 1200px) {
	.left-panel{
		height:$mdLeftPanelHeight;
	}
}

// Medium Screens
@media screen and (max-width: 960px) {
    .circle{
		width:$colorPickerSizeMD;
		height:$colorPickerSizeMD;
		border-radius:$colorPickerSizeMD/2;
	}
}

// Small Screens
@media screen and (max-width: 600px) {
    .circle{
		width:$colorPickerSizeSM;
		height:$colorPickerSizeSM;
		border-radius:$colorPickerSizeSM/2;
	}
}