$appHeight:675px;
$appWidth: 900px;
$toolBarHeight: 50px;

$appPanelPadding: 10px;

$appBg: #433c37;

$leftPanelMinWidth:350px;

$colorPickerSize:60px;
$colorPickerSizeMD:40px;
$colorPickerSizeSM:30px;