$appHeight:675px;
$appWidth: 900px;
$toolBarHeight: 50px;
$mdLeftPanelHeight: 350px;

$appPanelPadding: 10px;

$appBg: #433c37;

$leftPanelMinWidth:304px;

$colorPickerSize:55px;
$colorPickerSizeMD:38px;
$colorPickerSizeSM:28px;