$appHeight:700px;
$appWidth: 100%;
$appPanelPadding: 15px;
$appBg: #433c37;
$imagesPanelResponsiveHeight: 300px;

$colorPickerSize:40px;
$contentMaxWidth: 1200px; // correspond to bootstrap "container"

$btnSuccessBgColor: #135000;
$btnFailBgColor: #920F0F;
$btnCommonBgColor: #85640E;
$sliderColor: #9E7D1B;
$sliderColorLine: #aaa;
$switchColorOn: #9E7D1B;
$switchColorOff: #aaa;

$brushActiveColor: rgba(150,255,150,0.4);