@font-face {
    font-family: 'Bayeux';
    src: url('fonts/bayeux.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Augusta';
    src: url('fonts/Augusta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}